POSTGRES_HOST=postgres
POSTGRES_PORT=5434
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=comics_map

REDIS_HOST=redis
REDIS_PORT=6379

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/sessions/google/callback

FRONTEND_URL=http://localhost:8080

SECRET_KEY=
